In [2]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
import numpy as np

In [3]:
#Create a list for id of students
id =range(100000,1000000,1)

#List for info for each student
student_info=["id","name","school","district","divison","score","status"]

#List of all subjects
student_subjects=["arabic","first_lang","second_lang","math_1","history","geo",
                 "philo","psycho","chemistry","bio","geology","math_2","pyhsics"]
                 
student_secondary=["religion","national","stats"]

#List of subject of each divison
student_math=   ["arabic","first_lang","second_lang","chemistry","pyhsics","math_1","math_2"]
student_science=["arabic","first_lang","second_lang","chemistry","pyhsics","bio","geology"]
student_arts=   ["arabic","first_lang","second_lang","history","geo","philo","psycho"]

#Create a DataFrame to save the output of web scraping
students=pd.DataFrame(np.nan,index=id,columns=student_info+student_subjects+student_secondary)
students

,id,name,school,district,divison,score,status,arabic,first_lang,second_lang,...,philo,psycho,chemistry,bio,geology,math_2,pyhsics,religion,national,stats
100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
for i in range(len(id)):
    #Scrap webpage for each student
    URL = "https://shbabbek.com/natega/"+ str(id[i])
    r = requests.get(URL)
    soup = BeautifulSoup(r.content, "lxml")
    
    if len(soup.find_all("tbody")) > 4:
        for j in range(13):
            x=soup.find_all("tbody")[4].find_all("tr")[j].find_all("td")[1].get_text().strip()
            if x!= 'غير مقرر':
                students.at[id[i],student_subjects[j]]=int(x)
        for j in range(3):
            x=soup.find_all("tbody")[4].find_all("tr")[j+14].find_all("td")[1].get_text().strip()
            if x!= 'غير مقرر':
                students.at[id[i],student_secondary[j]]=int(x)
        #for j in range(6):
            students.loc[id[i],student_info[j]]=soup.find_all("tbody")[3].find_all("tr")[j].find_all("td")[1].get_text().strip()
        students.loc[id[i],"status"]=soup.find_all("tbody")[3].find_all("tr")[8].find_all("td")[1].get_text().strip()
    
    print(i)
    time.sleep(0.3)

In [9]:
r=[]
t=time.time()
for i in range(30):
    #Scrap webpage for each student
    URL = "https://shbabbek.com/natega/"+ str(id[i])
    r.append(requests.get(URL))
    print(i)
    time.sleep(0.01)
print((time.time()-t)/30)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
0.4246050834655762